
body {
      font-family: "Book antiqua", Palatino, "Palation Linotype", "Palatino LT STD", Georgia, serif;
      background-image: url("restaurant_icons.png");    
       }

       .product-index-single {
        
          width: 40%;

       }

